.contacts {
  margin-bottom: 39px;
}

.contacts__text-wrapper {
  @include mobile-centerer();
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
}

.contacts__desc-list {
  margin: 0;
  margin-bottom: 70px;
  font-size: 15px;
  line-height: 2;
  color: $primary-color;
}

.contacts__string-wrapper {
  @include flex(flex-start);
  align-items: stretch;

  &--email {
    padding-right: 10px;
  }

  &--address {
    flex-wrap: nowrap;
  }
}

.contacts__desc {
  margin: 0;

  &--address {
    padding-left: 25px;
  }
}

.contacts__map {
  margin-bottom: 39px;
}

.contacts__write-us-link {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__text-wrapper {
    width: 668px;
  }

  .contacts__desc-list {
    @include flex();
    align-items: stretch;
  }

  .contacts__string-wrapper {
    justify-content: flex-start;
    width: 50%;

    &--email {
      padding-right: 0;
    }

    &--address {
      flex-wrap: wrap;
    }
  }

  .contacts__termin {
    margin-right: 27px;
  }

  .contacts__desc--address {
    width: 220px;
    padding-left: 0;
  }

  .contacts__write-us-link {
    width: 230px;
  }

  .contacts__map {
    height: 457px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include flex(flex-start);
    position: relative;
    width: 1050px;
    margin: 0 auto 70px;
  }

  .contacts__text-wrapper {
    width: 33.33%;
    margin: 0;
    margin-left: auto;
  }

  .contacts__map {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__write-us-link {
    position: absolute;
    bottom: 0;
    left: 170px;
  }

  .contacts__desc-list {
    flex-direction: column;
  }

  .contacts__string-wrapper {
    width: auto;

    &--email {
      margin-bottom: 10px;
    }
  }
}
