.features {
  margin-bottom: 57px;
  padding: 0 9.3%;
}

.features__title {
  margin: 0;
  margin-bottom: 17px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 70px;
  font-size: 17px;
  line-height: 1.12;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
  }
}

.features__item--flower {
  padding-right: 80px;

  &::before {
    top: 15px;
    left: 7px;
    width: 32px;
    height: 37px;
    margin-bottom: 15px;
    background: url("#{$imgDir}/icon-feature-flower.svg");
  }
}

.features__item--price {
  margin-bottom: 15px;
  padding-right: 40px;

  &::before {
    top: 16px;
    width: 47px;
    height: 27px;
    background: url("#{$imgDir}/icon-feature-money.svg");
  }
}

.features__item--likes {
  margin-bottom: 15px;
  padding-right: 55px;

  &::before {
    top: 21px;
    left: 8px;
    width: 34px;
    height: 27px;
    background: url("#{$imgDir}/icon-feature-heart.svg");
  }
}

.features__item--handmade {
  margin-bottom: 15px;
  padding-right: 30px;

  &::before {
    top: 18px;
    left: 3px;
    width: 35px;
    height: 34px;
    background: url("#{$imgDir}/icon-feature-ball.svg");
  }
}

.features__item--support {
  margin-bottom: 15px;

  &::before {
    top: 19px;
    left: -6px;
    width: 55px;
    height: 23px;
    background: url("#{$imgDir}/icon-feature-rocket.svg");
  }
}

.features__item--delivery {
  padding-right: 50px;

  &::before {
    top: 18px;
    left: 3px;
    width: 33px;
    height: 32px;
    background: url("#{$imgDir}/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 81px;
    padding: 0 6.5%;
  }

  .features__title {
    margin: 0;
    margin-bottom: 34px;
  }

  .features__list {
    @include flex($align-items: stretch);
  }

  .features__item {
    width: 50%;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.1;

    &--flower {
      padding-right: 105px;
    }

    &--handmade {
      order: 1;
      padding-right: 50px;
    }

    &--price {
      order: 2;
      padding-right: 75px;
    }

    &--support {
      order: 3;
    }

    &--likes {
      order: 4;
      margin-bottom: 0;
      padding-right: 100px;
    }

    &--delivery {
      order: 5;
      margin-bottom: 0;
    }
  }

  .features__img {
    margin-bottom: 19px;

    &--rocket {
      margin-bottom: 23px;
    }

    &--gift {
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1050px;
    margin: 0 auto 89px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .features__title {
    margin-bottom: 32px;
  }

  .features__item {
    &--flower,
    &--likes {
      padding-right: 125px;
    }

    &--price,
    &--delivery {
      padding-right: 100px;
    }
  }

  .features__img {
    &--gift {
      margin-bottom: 14px;
    }
  }
}
