.features {
  margin-bottom: 57px;
  padding: 0 9.3%;
}

.features__title {
  margin: 0;
  margin-bottom: 29px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin: 0;
  margin-bottom: 38px;
  font-size: 17px;
  line-height: 1.12;
  font-weight: 700;

  &--flower {
    padding-right: 80px;
  }

  &--price {
    margin-bottom: 39px;
  }

  &--handmade {
    margin-bottom: 42px;
  }

  &--price,
  &--handmade,
  &--delivery {
    padding-right: 50px;
  }

  &--likes {
    margin-bottom: 31px;
    padding-right: 55px;
  }

  &--support {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  br {
    display: none;
  }
}

.features__img {
  display: block;
  margin-bottom: 20px;
  padding-left: 8px;
  fill: $secondary-color;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 79px;
    padding: 0 6.5%;
  }

  .features__title {
    margin: 0;
    margin-bottom: 47px;
  }

  .features__list {
    @include flex($align-items: stretch);
  }

  .features__item {
    width: 50%;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.1;

    br {
      display: inline;
    }

    &:nth-child(4) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(3) {
      order: 4;
      margin-bottom: 0;
    }

    &:nth-child(6) {
      order: 5;
    }
  }

  .features__img {
    margin-bottom: 19px;

    &--rocket {
      margin-bottom: 23px;
    }

    &--gift {
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1050px;
    margin: 0 auto 87px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .features__img {
    &--gift {
      margin-bottom: 14px;
    }
  }
}
