.features {
  @include mobile-centerer();
  margin-bottom: 60px;
}

.features__title {
  margin-bottom: 28px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.12;
  font-weight: 700;

  &--last {
    margin-bottom: 0;
  }
}

.features__img {
  display: block;
  margin-bottom: 20px;
  padding-left: 8px;
  fill: $secondary-color;
}

@media (min-width: 768px) {
  .features {
    width: 668px;
  }

  .features__title {
    margin: 0;
    margin-bottom: 50px;
  }

  .features__list {
    @include flex();
  }

  .features__item {
    width: 50%;
    padding-right: 65px;

    &:nth-child(4) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(6) {
      order: 5;
    }
  }
}

@media (min-width: 1200px) {
  .features {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
