.inner-header {
  margin-bottom: 32px;

  &--knitting {
    margin-bottom: 25px;
  }
}

.inner-header__wrapper {
  padding: 71px 9.3% 75px;
  background-color: $grey-dark;
  text-align: center;
}

.inner-header__title {
  margin: 0;
  font-size: 27px;
  line-height: 1.1;
}

@media (min-width: $tablet-width) {
  .inner-header {
    position: relative;
    margin-bottom: 80px;

    &--knitting {
      margin-bottom: 73px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::before {
      bottom: 93%;
      height: 91px;
      background-color: $grey-dark;
      border-top: 1px solid #dfdfdf;
      z-index: -1;
    }

    &::after {
      bottom: -22px;
      height: 34px;
      background: url("#{$imgDir}/bg-zigzag-fill.svg") repeat center;
    }
  }

  .inner-header__wrapper {
    padding: 14px 9.3% 81px;
  }

  .inner-header__title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .inner-header {
    margin-bottom: 133px;

    &--knitting {
      margin-bottom: 127px;
    }
  }

  .inner-header__title {
    font-size: 53px;
    line-height: 1.1;
  }

  .inner-header__wrapper {
    padding-top: 11px;
    padding-bottom: 97px;
  }

  .inner-header::before {
    bottom: 98%;
    height: 85px;
  }
}
