.inner-header {
  margin-bottom: 30px;

  &--knitting {
    margin-bottom: 22px;
  }
}

.inner-header__wrapper {
  padding: 72px 9.3% 75px;
  background-color: $grey-dark;
  text-align: center;
}

.inner-header__title {
  margin: 0;
  font-size: 27px;
  line-height: 1.1;
}

@media (min-width: $tablet-width) {
  .inner-header {
    position: relative;
    margin-bottom: 78px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::before {
      bottom: 94%;
      height: 91px;
      background-color: $grey-dark;
      border-top: 1px solid #dfdfdf;
      z-index: -1;
    }

    &::after {
      bottom: -20px;
      height: 34px;
      background: url("#{$imgDir}/zigzag-fill-desktop.svg") repeat center;
    }
  }

  .inner-header__wrapper {
    padding: 14px 9.3% 81px;
  }

  .inner-header__title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .inner-header {
    margin-bottom: 133px;
  }

  .inner-header__wrapper {
    padding-top: 16px;
    padding-bottom: 97px;
  }

  .inner-header::before {
    bottom: 96%;
    height: 85px;
  }
}
