.main-nav {
  position: relative;
  padding: 22px 0 17px;
}

.main-nav__list {
  @include reset-list();
}

.main-nav__item {
  border-top: 2px solid $grey-lighten;

  font-size: 17px;
  line-height: 1.4;
  font-weight: 700;

  &--desktop-show,
  &--delivery {
    display: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 30px 0;
  padding-left: 25%;
  color: $black;

  &:not(.main-nav__link--current):hover {
    color: rgba(102, 102, 102, 0.6);
  }

  &:not(.main-nav__link--current):active {
    color: rgba(178, 178, 178, 0.3);
  }
}

.main-nav__link:hover svg {
  fill: $secondary-color;
}

.main-nav__link:active svg {
  fill: $secondary-color;
  opacity: 0.3;
}

.main-nav__img {
  position: absolute;
  top: 35px;
  left: 10%;
  fill: #d3d2d2;
}

.main-nav__input::placeholder {
  color: $black;
}

.main-nav__input {
  display: block;
  width: 100%;
  padding: 30px 0;
  border: none;
  border-top: 2px solid $grey-lighten;
  font-family: inherit;
  color: $black;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 700;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    position: absolute;
    top: 30px;
    right: 9.3%;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
    }
  }

  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 30px;
    right: 9.3%;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      transform: rotate(45deg);
      transition: 0.1s all linear;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    margin-top: 21px;
  }

  .main-nav--nojs .main-nav__item:not(.main-nav__item--delivery):not(.main-nav__item--new):not(.main-nav__item--sale) {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 0 6.5%;
  }

  .main-nav__list {
    @include flex(flex-start);
  }

  .main-nav__item {
    border-top: none;

    &--search {
      margin-left: 48%;
    }

    &--cart {
      flex-grow: 1;
      flex-basis: 33%;
      text-align: right;
    }

    &--catalog {
      order: 1;
      margin-right: 37px;
    }

    &--knitting {
      order: 2;
    }

    &--delivery {
      order: 6;
      display: block;
      margin-left: auto;
      padding: 5px 0;
      font-size: 15px;
      line-height: 1.6;
      font-weight: 400;
    }
  }

  .main-nav__img {
    position: static;
    display: inline-block;
    vertical-align: middle;

    &--cart {
      margin-right: 28px;
    }
  }

  .main-nav__link {
    padding: 31px 0 36px;
    border-top: none;

    &--catalog,
    &--knitting {
      padding: 17px 0;
      font-size: 15px;
    }

    &--search {
      width: 84px;
      padding-top: 36px;
      font-size: 0;
      text-align: center;
      border-left: 1px solid $grey-lighten;
      border-right: 1px solid $grey-lighten;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__input {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__item {
    margin-bottom: 9px;

    &--search {
      order: 2;
      margin-left: 325px;
      margin-right: 30px;
    }

    &--cart {
      flex-basis: auto;
      order: 3;
    }

    &--catalog {
      position: relative;
      order: 0;
      margin-right: 72px;
    }

    &--knitting {
      order: 1;
    }

    &--desktop-show {
      display: block;
      font-size: 15px;
    }

    &--new {
      order: 4;
      margin-right: 60px;
    }

    &--sale {
      order: 5;
    }
  }

  .main-nav__item--catalog::after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 1px;
    height: 100%;
    background-color: $grey-lighten;
  }

  .main-nav__menu-list {
    order: 0;
    width: 377px;
  }

  .main-nav__link {
    padding: 31px 0 36px;

    &--catalog,
    &--knitting {
      margin-top: 0;
      padding: 31px 0 36px;
      font-size: 17px;
    }

    &--search {
      padding-top: 36px;
    }

    &--desktop-show {
      padding: 0;
    }
  }
}
