.main-form__wrapper {
  position: relative;

  &::before {
    content: "";
    top: 10px;
    right: 0;
    position: absolute;
    width: 76%;
    height: 1px;
    background-color: $secondary-color;
  }

  &--type {
    margin-bottom: 42px;
  }

  &--color {
    margin-bottom: 38px;
  }

  &--name {
    margin-bottom: 30px;
  }

  &--tel {
    margin-bottom: 28px;
  }

  &--extra {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 29px;
  }
}

.main-form__wrapper--email::before {
  width: 69%;
}

.main-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.main-form__item {
  margin: 0;
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--color {
    margin-bottom: 41px;
  }

  &--name {
    margin-bottom: 23px;
  }
}

.main-form__title {
  margin-bottom: 30px;
  padding: 0;
  color: $secondary-color;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;

  &--color {
    margin-bottom: 33px;
  }

  &--initials {
    margin-bottom: 27px;
  }

  &--tel {
    margin-bottom: 21px;
  }

  &--email {
    margin-bottom: 22px;
  }

  &--extra {
    margin-bottom: 24px;
  }
}

.main-form__label {
  position: relative;
  display: block;
  padding-left: 63px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: -9px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $primary-color;
  }

  &::after {
    display: none;
    top: 4px;
    left: 8px;
    width: 22px;
    height: 16px;
    background-image: url("#{$imgDir}/icon-tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-form__label--radio {
  max-width: 230px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: -6px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }

  &::after {
    top: 6px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-color: $secondary-color;
    background-image: none;
    border-radius: 50%;
  }
}

.main-form__hidden-input:checked + .main-form__label::after {
  display: block;
}

.main-form__label-name {
  display: block;
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}

.main-form__input {
  width: 100%;
  padding: 0 15px 16px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;
  font: inherit;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.main-form__textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px;
  padding-top: 12px;
  color: $primary-color;
  border: 2px solid $primary-color;
  font-size: 17px;
  line-height: 1.2;
  resize: none;
}

.main-form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 1.2;
}


.main-form__note {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 31px;
  padding-right: 12px;
  color: $primary-color;
  font-size: 14px;
  line-height: 1.14;
}

.main-form__send-order {
  width: 100%;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}

.main-form__bottom-info {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-form__label {
    display: inline-block;
    vertical-align: baseline;
    padding-left: 16%;
    font-size: 19px;

    &::before {
      top: -14px;
      left: 0;
      width: 54px;
      height: 52px;
      border: 2px solid $primary-color;
    }

    &::after {
      top: 2px;
      left: 11px;
      width: 33px;
      height: 23px;
      background-image: url("#{$imgDir}/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .main-form__label--radio {
    max-width: 100%;

    &::after {
      top: 5px;
      left: 16px;
      width: 20px;
      height: 20px;
      background-color: $secondary-color;
      background-image: none;
      border-radius: 50%;
    }

    &::before {
      top: -12px;
      left: 0;
      width: 51px;
      height: 51px;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }
  }

  .main-form__wrapper {
    padding: 0 6.5%;

    &::before {
      display: none;
    }

    &--type {
      margin-bottom: 67px;
    }

    &--color {
      margin-bottom: 0;
    }

    &--name {
      margin-bottom: 47px;
    }

    &--tel {
      margin-bottom: 17px;
    }

    &--email {
      margin-bottom: 0;
    }

    &--extra {
      margin-bottom: 53px;
    }
  }

  .main-form__fieldset-wrapper {
    width: 75%;
    margin-left: auto;

    &--color {
      @include flex($align-items: stretch);
    }
  }

  .main-form__grey-wrapper {
    margin-bottom: 43px;
    padding: 44px 0 68px;
    background-color: $grey-dark;

    &--bottom {
      padding-bottom: 51px;
      margin-bottom: 30px;
    }
  }

  .main-form__fieldset {
    @include flex($just-cont: flex-start, $align-items: stretch);
    margin-bottom: 0;
  }

  .main-form__item--color:nth-of-type(even) {
    width: 47.71%;
  }

  .main-form__item--color:nth-of-type(odd) {
    width: 52.29%;
  }

  .main-form__item {
    margin-bottom: 54px;

    &--name {
      @include flex($align-items: flex-start);
      margin-bottom: 37px;
    }

    &--orange,
    &--pink {
      margin-bottom: 0;
    }
  }

  .main-form__item--name:last-of-type {
    margin-bottom: 0;
  }

  .main-form__item-name {
    margin-right: 30px;
    font-size: 19px;
  }

  .main-form__label-name {
    margin-right: 32px;
    margin-bottom: 0;
    letter-spacing: 2px;

    &--firstname {
      margin-right: 23px;
    }

    &--surname {
      margin-right: 20px;
    }

    &--patronymic {
      margin-right: 21px;
    }
  }

  .main-form__fieldset--color label {
    padding-left: 83px;
  }

  .main-form__input {
    font-size: 19px;
    padding-left: 14px;
  }

  .main-form__item--name input {
    width: auto;
    flex-grow: 1;
  }

  .main-form__title {
    margin-bottom: 0;
  }

  .main-form__textarea {
    display: block;
    margin: 0;
    min-height: 143px;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .main-form__bottom-info {
    @include flex();
    padding: 0 6.5%;
    text-align: left;
  }

  .main-form__note {
    order: 1;
    margin: 0;
    margin-bottom: 5px;
    padding-right: 0;
    font-size: 17px;
    line-height: 1.75;
  }

  .main-form__send-order {
    width: 34.58%;
    margin: 0;
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 0;

    &--type {
      margin-bottom: 65px;
    }

    &--tel {
      margin-bottom: 18px;
    }

    &--name {
      margin-bottom: 48px;
    }

    &--extra {
      margin-bottom: 49px;
    }
  }

  .main-form__fieldset-wrapper {
    width: 700px;

    &--color {
      width: 789px;
      justify-content: space-between;
    }
  }

  .main-form__grey-wrapper {
    margin-bottom: 46px;
    padding: 44px 0 65px;

    &--bottom {
      margin-bottom: 28px;
      padding-top: 44px;
      padding-bottom: 49px;
    }
  }

  .main-form__fieldset {
    width: 875px;
    padding-left: 64px;

    &--color {
      width: 964px;
      margin: 0;
    }
  }

  .main-form__item--color:nth-of-type(even),
  .main-form__item--color:nth-of-type(odd) {
    width: 33.33%;
  }

  .main-form__item--black {
    margin-bottom: 0;
  }

  .main-form__bottom-info {
    width: 700px;
    margin: 0 auto;
    padding: 0;
  }

  .main-form__send-order {
    width: auto;
  }

  .main-form__label {
    padding-left: 80px;

    &::before {
      top: -13px;
    }

    &::after {
      top: 2px;
    }
  }
}
