.page-header__logo {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header--inner {
    margin-bottom: 24px;
  }

  .page-header__logo {
    position: absolute;
    width: 86px;
    padding-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
