.page-footer {
  background-color: $grey-dark;
}

.page-footer__wrapper {
  padding: 25px 9.3%;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  @include flex();
  @include reset-list();
  margin-bottom: 23px;
}

.page-footer__link-academy {
  display: block;
}

.page-footer__link-academy:hover svg {
  fill: #46c1ae;
}

.page-footer__link-academy:active svg {
  fill: #46c1ae;
  opacity: 0.3;
}

.page-footer__copyright {
  @include flex($just-cont: center, $align-items: stretch);
  padding-top: 21px;
  border-top: 1px solid #e5e5e5;
}

.page-footer__copyright-text {
  margin: 0;
  margin-right: 30px;
  padding-top: 4px;
  font-size: 19px;
  line-height: 1.1;
  font-weight: 700;
}

.page-footer__img-academy {
  fill: $secondary-color;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include flex($just-cont: flex-start, $align-items: stretch);
    width: 668px;
    margin: 0 auto;
    padding: 55px 0;
  }

  .page-footer__logo {
    display: block;
    margin-right: 160px;
  }

  .page-footer__logo:not(.page-footer__logo--current) a:hover {
    fill: $secondary-color;
  }

  .page-footer__logo:not(.page-footer__logo--current) a:active {
    fill: $secondary-color;
    opacity: 0.3;
  }

  .page-footer__social-list {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding-top: 4px;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__logo {
    margin-right: 348px;
  }
}
