.page-title {
  font-size: 25px;
  line-height: 1.2;

  &--top {
    font-size: 27px;
  }

  &--contacts {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 43px;
    line-height: 1.15;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 1.1;
  }
}
