.prod-process {
  padding: 0 9.3%;

  &--mb {
    margin-bottom: 58px;
  }
}

.prod-process__wrapper {
  position: relative;
  padding-top: 95px;
  padding-bottom: 30px;
  border: 1px solid $grey-light;
}

.prod-process__video {
  position: relative;
  margin-bottom: 24px;
}

.prod-process__info {
  padding: 0 13.3%;
}

.prod-process__img {
  width: 100%;
}

.prod-process__title {
  position: absolute;
  top: 24px;
  max-width: 200px;
  margin: 0;
  padding-left: 54px;
  font-size: 17px;
  line-height: 1.4;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 32px;
    height: 32px;
    background: url("#{$imgDir}/icon-video.svg") no-repeat 50%;
  }
}

.prod-process__play-btn {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prod-process__desc {
  margin: 0;
  margin-bottom: 27px;
  color: $primary-color;
  font-size: 13px;
  line-height: 1.85;
}

.prod-process__order {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .prod-process {
    padding: 0 50px 32px;

    &--mb {
      margin-bottom: 31px;
    }
  }

  .prod-process__wrapper {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .prod-process__info {
    padding: 37px 40px 0;
    border-top: 1px solid #ededed;
  }

  .prod-process__video {
    height: 455px;
    margin-bottom: 0;
  }

  .prod-process__img {
    display: block;
    height: 100%;
  }

  .prod-process__title {
    position: relative;
    top: 0;
    max-width: 100%;
    margin-bottom: 32px;
    padding-left: 66px;
    font-size: 20px;
    line-height: 1.2;

    &::before {
      top: -5px;
    }
  }

  .prod-process__desc {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $desktop-width) {
  .prod-process {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .prod-process__wrapper {
    @include flex($align-items: flex-start);
    margin-bottom: 102px;
    padding-bottom: 0;
  }

  .prod-process__video {
    width: 682px;
    margin-bottom: 0;
  }

  .prod-process__info {
    width: 350px;
    padding-left: 62px;
    padding-right: 56px;
    padding-top: 94px;
  }

  .prod-process__desc {
    margin-bottom: 46px;
  }

  .prod-process__title {
    margin-bottom: 34px;
    padding-left: 0;

    &::before {
      position: absolute;
      top: -53px;
    }
  }
}
