.products {
  @include reset-list();
  width: 100%;
}

.products__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 28px 9.3%;
  color: $white;
  font-size: 19px;
  line-height: 1.26;
  font-weight: 700;

  &--interior-items {
    background-color: $secondary-color;
  }

  &--toys {
    background-color: $secondary-color-dark;
  }

}

.products__link--interior-items::after,
.products__link--toys::after {
  content: "";
  position: absolute;
  top: 23px;
  opacity: 0.5;
}

.products__link--interior-items::after {
  right: 9.3%;
  width: 40px;
  height: 62px;
  background: url("#{$imgDir}/icon-interior.svg") no-repeat 50%;
}

.products__link--toys::after {
  right: 7%;
  width: 60px;
  height: 60px;
  background: url("#{$imgDir}/icon-toy.svg") no-repeat 50%;
}

@media (min-width: $tablet-width) {
  .products {
    @include flex;
    padding: 0 6.5%;
    width: 100%;
  }

  .products__item {
    width: 50%;
  }

  .products__link {
    padding: 27px 11%;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding: 0;
  }

  .products__link {
    padding-left: 36px;
    padding-right: 340px;
  }
}
