.prod-process {
  padding: 0 9.3%;
  margin-bottom: 57px;
}

.prod-process__wrapper {
  position: relative;
  padding-top: 95px;
  padding-bottom: 32px;
  border: 1px solid $grey-light;

  &:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}

.prod-process__video {
  position: relative;
  margin-bottom: 26px;
}

.prod-process__info {
  padding: 0 13.3%;
}

.prod-process__img {
  width: 100%;
}

.prod-process__title {
  position: absolute;
  top: 24px;
  max-width: 200px;
  margin: 0;
  padding-left: 54px;
  font-size: 17px;
  line-height: 1.4;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 32px;
    height: 32px;
    background: url("#{$imgDir}/icon-video.svg") no-repeat 50%;
  }
}

.prod-process__play-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 101px;
  height: 77px;
  margin: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: 0.1s all linear;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.prod-process__desc {
  margin: 0;
  margin-bottom: 25px;
  color: $primary-color;
  font-size: 13px;
  line-height: 1.85;
}

.prod-process__order {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .prod-process {
    margin-bottom: 31px;
    padding: 0 50px 32px;
    cursor: pointer;
  }

  .prod-process__wrapper {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .prod-process__info {
    padding: 37px 40px 0;
    border-top: 1px solid $grey-light;
  }

  .prod-process__video {
    height: 455px;
    margin-bottom: 0;
  }

  .prod-process__img {
    display: block;
    height: 100%;
  }

  .prod-process__title {
    position: relative;
    top: 0;
    max-width: 100%;
    margin-bottom: 31px;
    padding-left: 66px;
    font-size: 20px;
    line-height: 1.2;

    &::before {
      top: -5px;
    }
  }

  .prod-process__desc {
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $desktop-width) {
  .prod-process {
    width: 1050px;
    margin: 0 auto 102px;
    padding: 0;
  }

  .prod-process__wrapper {
    @include flex($align-items: flex-start);
    padding-bottom: 0;
  }

  .prod-process__video {
    width: 682px;
    margin-bottom: 0;
  }

  .prod-process__info {
    width: 350px;
    padding-left: 62px;
    padding-right: 56px;
    padding-top: 94px;
    border-top: none;
  }

  .prod-process__desc {
    margin-bottom: 46px;
  }

  .prod-process__title {
    margin-bottom: 34px;
    padding-left: 0;

    &::before {
      position: absolute;
      top: -53px;
    }
  }
}
