.product:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.product:active {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.product__text-wrapper {
  padding: 27px 10%;
  border: 1px solid $grey-light;
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  padding-right: 5px;
  color: $black;
  font-size: 17px;
  line-height: 1.4;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__desc {
  margin: 0;
  margin-bottom: 19px;
  color: $primary-color;
  font-size: 13px;
  line-height: 2.3;
}

.product__price-and-cart-wrapper {
  @include flex($align-items: stretch);
  padding-top: 20px;
  border-top: 2px solid $grey-lighten;
}

.product__img {
  display: block;
  width: 100%;
}

.product__price {
  font-size: 15px;
  line-height: 1.6;
}

.product__cart {
  font-size: 0;
}

.product__cart-img {
  fill: #d3d2d2;

  &:hover {
    fill: rgb(99, 209, 187);
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .product {
    @include flex($align-items: stretch);
    min-height: 334px;
    cursor: pointer;
  }

  .product__text-wrapper {
    @include flex($align-items: stretch);
    flex-direction: column;
    width: 50%;
    padding: 26px 4%;
  }

  .product__price-and-cart-wrapper {
    margin-top: auto;
  }

  .product__link-img {
    width: 50%;
  }

  .product__img {
    height: 100%;
  }

  .product__title {
    font-size: 20px;
    line-height: 1.2;

    &--big-basket {
      padding-right: 50px;
    }
  }

  .product__desc {
    font-size: 15px;
    line-height: 2;
  }

  .product__price {
    padding-left: 5px;
    font-size: 17px;
    line-height: 1.4;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;

    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  .product__link-img,
  .product__text-wrapper {
    width: 100%;
  }

  .product__img {
    height: 462px;
  }

  .product__text-wrapper {
    padding: 26px 29px 25px;
    min-height: 196px;
  }

  .product:hover .product__text-wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .product:active .product__text-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .product__title {
    margin-bottom: 0;
  }

  .product__desc {
    margin-bottom: 0;
    line-height: 3;
  }

  .product__price {
    padding-left: 0;
  }
}
