.reviews__wrapper {
  position: relative;
  margin-bottom: 91px;
  padding: 0 9.3%;

  &::after {
    @include zigzag-line();
    bottom: -55px;
    height: 6px;
    background-size: auto 6px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 2;
  color: $primary-color;
}

.reviews__author-name {
  display: block;
  margin-bottom: 4px;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 700;
}

.reviews__author-nickname {
  display: block;
  color: $primary-color;
  line-height: 1.76;
}

.reviews__toggles {
  @include flex($align-items: stretch);
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 50%;
  height: 52px;
  margin: 0;
  padding: 0;
  background-color: $white;
  border: 1px solid $grey-lighten;
}

.reviews__toggle:hover svg {
  fill: rgba(102, 102, 102, 0.6);
}

.reviews__toggle:active svg {
  fill: rgba(178, 178, 178, 0.3);
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 143px;
    background: url("#{$imgDir}/review@1x.jpg") no-repeat;
    background-size: 45.6%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("#{$imgDir}/review@2x.jpg") no-repeat;
      background-size: 45.6%;
    }
  }

  .reviews__wrapper {
    @include flex($just-cont: flex-start, $align-items: stretch);
    margin-bottom: 0;
    padding: 80px 6.5% 50px;

    &::after {
      bottom: -74px;
      height: 15px;
      background-size: auto 15px;
    }
  }

  .reviews__list {
    order: 1;
    margin-bottom: 0;
  }

  .reviews__title {
    margin-bottom: 51px;
  }

  .reviews__text {
    @include font-params-tablet();
    margin-bottom: 62px;
  }

  .reviews__toggles {
    position: absolute;
    bottom: 50px;
    right: 6.5%;
    width: 167px;
    margin-bottom: 0;
  }

  .reviews__toggle {
    border: none;
  }

  .reviews__author-name {
    max-width: 70%;
    font-size: 18px;
    line-height: 1.33;
  }

  .reviews__author-nickname {
    max-width: 70%;
    font-size: 17px;
    line-height: 1.76;
  }

  .reviews__write-link {
    width: 26.2%;
    align-self: flex-start;
    margin-left: auto;
    margin-top: 3px;
    padding: 14px 37px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    margin: 0 auto 160px;
    background-size: 33.5%;
  }

  .reviews__wrapper {
    width: auto;
    margin: 0;
    padding: 72px 0 97px 175px;

    &::after {
      bottom: -89px;
      height: 24px;
      background-size: auto 24px;
    }
  }

  .reviews__text {
    margin-bottom: 42px;
    padding-right: 105px;
  }

  .reviews__title {
    margin-bottom: 48px;
  }

  .reviews__write-link {
    width: auto;
    margin-top: 9px;
    padding: 14px 38px;
  }


  .reviews__toggles {
    right: 0;
    bottom: 100px;
  }
}
