.features {
	padding: 0 30px;
	margin-bottom: 60px;
}

.features__title {
	margin-bottom: 28px;
}

.features__list {
	@include list;
	flex-direction: column; 
}

.features__item {
	margin-bottom: 30px;
	&--last {
		margin-bottom: 0;
	}
}

.features__subtitle {
	margin: 0;
	font-family: $open-sans-bold;
	font-size: 17px;
	line-height: 20px;
}

.features__img {
	display: block;
	margin-bottom: 20px;
	padding-left: 8px;
	fill: #63d1bb;
}
