.main-nav {
	position: relative;
}

.main-nav__list {
	@include list;
	flex-direction: column;
}

.main-nav__link {
	display: block;
	padding: 30px 0;
	border-top: 2px solid #ececec;
}

.main-nav__link,
.main-nav__input,
.main-nav__input::placeholder {
	color: #000000;
	font-size: 17px;
	line-height: 24px;
	font-family: $open-sans-bold;
}

.main-nav__input {
	display: block;
	width: 100%;
	padding: 30px 0;
	border: none;
	border-top: 2px solid #ececec;
}

.main-nav__toggle {
	position: absolute;
	top: 5%;
	right: 5%;
	display: inline-block;
	width: 21px;
	height: 20px;
	font-size: 0;
	padding: 0;
	background: url(../../img/icon-menu-open.svg) no-repeat center;
	border: none;
	cursor: pointer;
}


