.page-form {
   margin-bottom: 55px;
   padding: 0 30px;
}

.page-form__text {
   margin: 0;
   margin-bottom: 52px;
   color: #444444;
   font-size: 13px;
   line-height: 24px;
}

.main-form__fieldset {
   margin: 0;
   margin-bottom: 10px;
   padding: 0;
   border: none;
}

.main-form__item {
   margin: 0;
   margin-bottom: 44px;

   &--name {
      @include flex;
      flex-direction: column;
   }
}

.main-form__title {
   margin-bottom: 30px;
   padding: 0;
   color: #63d1bb;
   font-family: $open-sans-bold;
   font-size: 17px;
   line-height: 19px;
   text-transform: uppercase;

   &--small-mb {
      margin-bottom: 10px;
   }
}

.main-form__label {
   position: relative;
   display: inline-block;
   padding-left: 63px;
   font-family: $open-sans-bold;
   font-size: 17px;
   line-height: 20px;
   cursor: pointer;

   &--radio::before {
      content: "";
      position: absolute;
      left: 0;
      width: 38px;
      height: 38px;
      border: 2px solid #444444;
      border-radius: 50%;
   }

   &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 38px;
      height: 38px;
      border: 2px solid #444444;
   }
}

.main-form__label::after {
   content: "";
   position: absolute;
   display: none;
   top: 7px;
   left: 4px;
   width: 33px;
   height: 23px;
   background-image: url("../../img/icon-tick.svg");
   background-repeat: no-repeat;
   background-position: center;
}
.main-form__label--radio::after {
   content: "";
   position: absolute;
   top: 12px;
   left: 11px;
   width: 15px;
   height: 15px;
   background-color: #62d1ba;
   background-image: none;
   border-radius: 50%;
}

.main-form__hidden-input:checked + .main-form__label::after {
   display: block;
}

.main-form__label-name {
   margin-bottom: 10px;
   font-family: $open-sans-bold;
   font-size: 17px;
   line-height: 20px;
}

.main-form__input {
   width: 100%;
   padding: 0 14px 14px 0;
   border: none;
   border-bottom: 2px solid #000000;
}

.main-form__textarea {
   width: 100%;
   margin-bottom: 17px;
   padding: 15px;
   color: #444444;
   border: 2px solid #444444;
   font-family: $open-sans-regular;
   font-size: 17px;
   line-height: 19px;
   resize: none;
}

.main-form__textarea::placeholder {
   color: rgba(68, 68, 68, 0.3);
   font-family: $open-sans-regular;
   font-size: 17px;
   line-height: 19px;
}


.main-form__note {
   display: inline-block;
   margin-bottom: 30px;
   color: #444444;
   font-size: 14px;
   line-height: 16px;
}
