.popular-product {
	position: relative;
	padding: 0 30px;
	margin-bottom: 77px;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -36px;
		display: block;
		width: 100%;
		height: 6px;
		background: url(../../img/zigzag-line-desktop-svg.svg) no-repeat center;
	}
}

.popular-product__title {
	margin: 0;
	margin-bottom: 10px;
}

.popular-product__label {
	display: block;
	margin-bottom: 28px;
	color: #63d1bb;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
}

.popular-product__desc {
	margin: 0;
	margin-bottom: 28px;
	color: #444444;
	font-size: 15px;
	line-height: 24px;
}

.popular-product__characreristics {
	width: 100%;
	margin-bottom: 28px;
	color: #444444;
	border-collapse: collapse;
}

.popular-product__cell {
	padding: 11px 0;
	border-bottom: 2px solid #ececec;
}

.popular-product__img {
	margin-bottom: 28px;
}

.popular-product__price {
	display: block;
	margin-bottom: 28px;
	color: #444444;
	font-family: $open-sans-bold;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
}