.product {
    margin-bottom: 30px;
}

.product__text-wrapper {
    padding: 30px 28px;
    border: 1px solid #ededed;
}

.product__title {
    margin: 0;
    margin-bottom: 15px;
    color: #000000;
    font-family: $open-sans-bold;
    font-size: 17px;
    line-height: 24px;
}

.product__desc {
    margin: 0;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 30px;
}

.product__price-and-cart-wrapper {
    @include flex;
    align-items: center;
    padding-top: 25px;
    border-top: 2px solid #ececec;
}

.product__price {
    font-family: $open-sans-bold;
    font-size: 15px;
    line-height: 24px;
}

.product__cart {
    font-size: 0;
}
.product__cart-img {
    opacity: 0.2;
}
