@mixin flex ($just-cont: space-between, $align-items: center) {
  display: flex;
  justify-content: $just-cont;
  align-items: $align-items;
  flex-wrap: wrap;
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin mobile-centerer() {
  width: 260px;
  margin: 0 auto;
}

@mixin font-params-tablet() {
  font-size: 17px;
  line-height: 1.76;
}

@mixin zigzag-line() {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: url("#{$imgDir}/bg-zigzag-line.svg") repeat-x;
}
