$primary-color: #444444;
$secondary-color: #63d1bb;
$secondary-color-dark: #56c3b2;
$grey-light: #ededed;
$grey-lighten: #ececec;
$grey-dark: #f1f1f1;
$white: #ffffff;
$black: #000000;
$pd-mobile: 30px; //Внутр. отступ на мобильных устройствах
$imgDir: "../img";
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
