@import "variables.scss";
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
	max-width: 320px;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: $open-sans-regular;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

a {
	text-decoration: none;
}

.page-title {
	font-family: $open-sans-bold;
}

.button {
	display: block;
	width: 100%;
	padding: 16px 0;
	color: #444444;
	border: 2px solid #444444;
	font-family: $open-sans-bold;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}